/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  bottom: 3rem;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

/* Specific CSS for the challenge is listed below. */

.fixed-top {
  padding-left: 12rem;
  padding-right: 12rem;
}

.input-search {
  background-color: #292b2c;
  border: 1px solid #44474B;
}

.jumbotron {
  background-image: url("hero-bg.png");
  height: 23rem;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-nav-section {
  position: relative;
  top: -66px;
}

.header-nav li a{
  color: #DDE0E4;
  font-size: 12px;
  font-family: "Open Sans";
  font-weight: bold;
  line-height: 1.5;
  text-transform: uppercase;
}
.header-nav li a:hover, .header-nav li a.active {
  color: #FFFFFF;
  border-bottom: 4px solid #00CC99;
}
.content-layout-buttons a {
  color: #DDE0E4;
}
.content-layout-buttons a.active {
  color: #FFFFFF;
}

.add-media {
  color: rgb(112, 118, 127);
  line-height: 1.125;
  font-size: 16px;
  font-family: "Open Sans";
  padding: 2rem 1rem;
  opacity: 0.7;
  background-color: #00CC99;
}
.add-media-actionbar-left a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  font-family: "Open Sans";
  line-height: 1.286;
  text-decoration: none;
}
.add-media-actionbar-left a:hover {
  color: rgb(255, 255, 255);
}
.add-media-actionbar-right {
  display: none;
}
.add-media-actionbar-right button {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.286;
}
.create-post-form {
  display: none;
}

input.create-post {
  align-self: center;
  background-color: #00CC99;
  border: none;
  color: #FFFFFF;
  font-size: 30px;
  font-family: "Open Sans";
  line-height: 0.6;
  /* width: 90%; */
}
input.create-post::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

textarea.create-post-textarea {
  align-self: center;
  border-width: 1px;
  border-color: rgb(222, 225, 229);
  border-style: solid;
  border-radius: 3px;
  font-family: "Open Sans";
  /* width: 90%; */
}
textarea.create-post-textarea:focus {
  background-color: rgb(255, 255, 255);
}

.btn-add-photo, .btn-add-video {
  font-size: 14px;
  font-family: "Open Sans";
  color: rgb(112, 118, 127);
  line-height: 1.286;
  text-decoration: none;
}
.btn-add-photo:hover, .btn-add-video:hover {
  text-decoration: none;
}

.media-items .card {
  border-width: 1px;
  border-color: rgb(222, 225, 229);
  border-style: solid;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.media-heading-icons {
  color: rgb(222, 225, 229);
  position: absolute;
  bottom: 0.5rem; /* For tile elements */
  /* top: 1.25; *//* For list elements */
  right: 1.25rem;
}
.media-body a, .media-body .twitter-handle {
  color: rgb(222, 225, 229);
}

.card-block.with-post, .card-block.with-photo, .card-block.with-video {
  padding-bottom: 0;
}

/* Custom 'create user' modal
-------------------------------------------------- */
.modal-user .modal-content {
  background-color: #DEE1E5;
  color: rgb(112, 118, 127);
  font-size: 16px;
  font-family: "Open Sans";
  line-height: 1.125;
}

@media (min-width: 992px) {
  .modal-user {
      max-width: 777px;
      padding-top: 5rem;
  }
}

.Sam_Soffes_How_to_Get_Inspired:_the_Right_Way__ {
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(63, 69, 77);
  line-height: 1.125;
}


/* Custom modal overlay effects
-------------------------------------------------- */
.expose {
  position: relative;
}

#overlay {
  background: rgba(0,0,0,0.3);
  display: none;
  width: 100%; height:100%;
  position: absolute; top: 0; left: 0; z-index: 99998;
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
  -webkit-filter: url(#blur-filter);
  filter: url(#blur-filter);
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
.blur-svg {
  display: none;
}

/* Fix for modal issue moving content
-------------------------------------------------- */

body, body.modal {
  padding-right: 0 !important;
}

body.modal {
  overflow-y: hidden;
}
